body{
	max-width: 1500px;
	margin: 0 auto;
}
.firstBox{
	width: 100%;
	height: 600px;
	background: url(background.png);
	background-repeat: no-repeat;
	background-position:bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
.texthead{
	margin: 0;
	font-size: 50px;
	font-family:COURIER;
	text-align:center;
}
.firstBox img{
	position: relative;
	top: -90px;
}
.photo{}
button{
	margin-top: -200px;
	width: 150px;
	height: 40px;
	color: white;
	background-color: red;
	border: none;
	transition: all 2s;
}
.texthead2{
	color: grey;
	position: relative;
	top: -140px;
}
button:hover{
	color: black;
	transition: all 2s;
	background-color: yellow;
}
.margin{
	margin: 0;
	color: red;
}
.secondBox{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;

}
.secondBox div img{
	margin: 0;
	width: 70%;
	height: 500px;
	float: right;
}
.srift{
	font-size: 30px;
	font-family: COURIER;
}
.textbox{
	color: grey;
}
.box{
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 100px;

}
.blocbackground{
	width: 70%;
}
.blok3{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 650px;
	background: url(background.blok3.png);
	background-size: cover;
}
.braserblok{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align-last: center;
	width: 25%;
}
.braserblok2{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align-last: center;
	width: 25%;
}
.braserblok3{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align-last: center;
	width: 25%;
}
.section4{
	margin: 0;
	height: 450px;
	display: flex;
}
.macbook1{
	margin-top:50px;
}
span{
	color: red;
}
h3{
	color: red;
}
.lorem{
	margin-top: 70px;
	margin-left: 100px;
	width: 30%;
	display: flex;
	flex-direction: column;

}
.bloc4{
	display: flex;
	justify-content: space-around;
	height: 500px;
	background-image: url(background4.png);
	background-color: black;
}
.bloc4 h1 p{
		color: grey;
}
.bloc4_column{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	text-align-last: center;
	margin-top: 100px;
}
.Big_Boss{
	display: flex;
	justify-content: space-around;
	margin-top: -100px;
	flex-wrap: wrap;
}
h1{
	color: white;
}
p{
	color: grey;
}
.blok5{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.blok5 p{
 	width: 40%;
}
.blok5 h2{
	font-size: 35px;
}
.form_input{
	padding-top: 30px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0A0A2A;
}
.form_input h1{
	margin-top: 20px;
}
.button{
	width: 150px;
	background-color: red;
	color: grey;
	border: none;
	transition: all 1s; 
}
.button:hover{
	color: black;
	transition: all 2s;
	background-color: yellow;
}
input{
	border: none;
	height: 30px;
	background-color: #D8D8D8;
	margin-left: 20px;
}
a{
	color: grey;
}
.input{
	margin-top: 30px;
}
footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.textstart{
	width: 25%;
}
form{
	display: flex;
	flex-wrap: wrap;
}
